.techniques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    width: 80%;
    margin: 100px auto;
}

.section__title {
    width: 60%;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section__subtitle {
    width: 60%;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin: 0;

}


.content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: center;

}

.cards {
    display: flex;
    gap: 100px
}

.item {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    align-self: baseline;
}

.cards-image {
    border-radius: 50%;
    padding: 60px 40px 43px;
    width: 160px;
    height: 160px;
}

.cards-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;


}

.cards-desc {
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}