@import 'fonts.css';
@import '../blocks/header/header.css';
@import '../blocks/description/description.css';
@import '../blocks/techniques/techniques.css';
@import '../blocks/digits/digits.css';
@import '../blocks/kaufman/kaufman.css';
@import '../blocks/footer/footer.css';
@import '../blocks/resours/resources.css';
@import '../blocks/animation/animation.css';
@import '../blocks/block_video/video.css';
@import '../blocks/oakley/oakley.css';


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

span {
  font-weight: bold;
  padding: 20px 0;
}

a,
ul,
li {
  text-decoration: none;
  text-transform: none;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;


}